a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
		a.wsp6d291f31{ color:#FF0000; text-decoration: underline} 
		a.wsp6d291f31:visited{ color:#FF0000; text-decoration: none} 
		a.wsp6d291f31:active{ color:#FF0000; text-decoration: none} 
		a.wsp6d291f31:hover{ color:#008000; text-decoration: underline} 
		a.wsp531a072a{ color:#A01FCB; text-decoration: underline} 
		a.wsp531a072a:visited{ color:#800080; text-decoration: underline} 
		a.wsp531a072a:active{ color:#8018CB; text-decoration: underline} 
		a.wsp531a072a:hover{ color:#E3B4F3; text-decoration: underline} 
body { background-color:#FFFF80; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:32pt; font-family:Arial, Helvetica, sans-serif; color:#8000FF; font-weight:bold;  }
.textstyle3 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#FF0000;  }
#img_2a64b3ae { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
#img_1fbec4f5 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
#img_250423ca { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
#img_4710ac38 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
#img_50443472 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
#img_71742726 { vertical-align: bottom; position:relative; display: inline-block; width:38%; background:none;  }
