@charset "UTF-8";
/* Radiomap.eu 2009-2022 Mikhail Shcherbak */

*{margin:0px; padding:0px;}
/* Hide from IE-Mac \*/
#header {margin-bottom: 3em;}
#footer {margin-top: 1.5em;}
/* End hide */
body{background:#3b6bb7 url('bg/body20162-2.jpg') no-repeat center fixed; background-size: cover; font-family:Helvetica, Arial, sans-serif; color:#545454; margin-bottom:0px; font-size:16px;}/*#1e3d6d url('bg/nightsky.jpg') top center fixed*/
#wrap{background: url('bg/90.png') top center; background-repeat:repeat-y; float:center; width:940px; margin:0px auto 0px auto; text-align:left; padding:0;}
#main{clear:both; width:100%; padding:0;}
#page-body{clear:both; margin:0px 10px 0px 10px;}
#leftcontent{width:300px; float:right;}
#rightcontent{width:617px; float:left; margin-bottom:10px;/*border:1px solid #dedede;*/}
#trans{height:140px;}
.lang{clear:both; color:#999;}
.nav{padding:3px;}
.gas728{border:0px none; width:920px; text-align:center; padding:10px;}
.fix{width:100%; border:0px none; border-collapse:collapse; border-spacing:0px;}
.stationright{width:305px; padding:0px 0px 0px 5px;}
hr{border:0 none #FFF; border-top:1px solid #CCC; height:1px; margin:0px 0px 10px 0px; display:block; clear:both;}

/*FRONT PANEL--------------------------------------------------------------*/
#frontpanel{width:160px; float:right;}
.panel{background:url('common/extrabox.jpg') no-repeat center top; padding:5px; margin:5px 0px 10px 0px;}
select{font-family:Helvetica, Arial, sans-serif; color:#545454;}

/*HEADER AND FOOTER--------------------------------------------------------------*/
#page-footer{clear:both; text-align:center; width:920px; margin:10px 0px 10px 0px;}
.footerlist, .footer-menu{font-size:11px; line-height:1.5em;}
.footerlist-east, .footer-menu-east{line-height:1.5em;}
.switch, .switchbutton{padding:3px;}
#new-page-header{background:#ffffff; clear:both;}
body.eu .h, body.karta .h, body.radio .h, body.tv .h, body.bg .h, body.mk .h{background:#3b6bb7 url('headers/2019.jpg') top center fixed; width:920px; height:75px; position:relative; float:left; margin:5px 10px 0px 10px; font-weight:bold; text-shadow:#3b6bb7 0px 0px 2px;}/*#1e3d6d /header_radio.jpg*/
body.ru .h{background:#3b6bb7 url('headers/2019.jpg') top center fixed; width:920px; height:75px; position:relative; float:left; margin:5px 10px 0px 10px; font-weight:bold; text-shadow:#3b6bb7 0px 0px 2px;}/*header_radio2.jpg*/
.numenu{color:#f2f2f2; font-size:14px;}
.numenu a, .numenu a:link, .numenu a:visited{color:#f2f2f2;}
.numenu a:hover, .numenu a:link:hover, .numenu a:visited:hover{text-decoration:underline; color:#FFF;}
.numenu b, .numenu u{color:#FFF;}
.searchbar {background:#FFFFFF; width:158px; height:19px; margin:0px 0px 0px 0px !important; padding:0px 0px 2px 3px !important; float:right;}
.searchbar input{width:130px; height:19px !important; border:0px !important; margin:0px 0px 0px 0px !important; padding:0px 0px 0px 0px !important; background-color:transparent; font-family:Helvetica, Arial, sans-serif; color:#545454; font-size:14px !important;}
ul.linklist li{font-size:12px; list-style-type:none; float:left; margin:5px 0px 10px 0px;}/*font-variant:small-caps;*/
ul.linklist li.rightside, p.rightside{display:inline; float:right; text-align:left;}
#fb_share{font-family:Helvetica, Arial, sans-serif; font-size:1.5em;}

/*RTL--------------------------------------------------------------*/
body.rtl {overflow-x:hidden;}
body.rtl .h {background:#3b6bb7 url('headers/2019rtl.jpg') top center fixed;}
body.rtl h1.title1 {font-size:3em;}
body.rtl #rightcontent {float:right;}
body.rtl #leftcontent {float:left;}
body.rtl .ta1, body.rtl .ta2, body.rtl .ti, body.rtl .tc, body.rtl .tsy {text-align:right;}
body.rtl .ta1 h2, body.rtl .ta2 h2, body.rtl .ti h2, body.rtl .tc h2, body.rtl .tw h2, body.rtl .time h2, body.rtl .tv h2 {background-position:right; text-align:right;}
body.rtl .tr30, body.rtl .tr31, body.rtl .tr32, body.rtl .tr33, body.rtl .tr4, body.rtl .tr6, body.rtl .fsta, body.rtl .fsta1, body.rtl .fsta2, body.rtl .fpre, body.rtl .dxfsta, body.rtl .dxfsta1, body.rtl .dxfsta2, body.rtl .dxfpre, body.rtl .list {text-align:right;}
body.rtl .freq, body.rtl .dxfreq {text-align:right !important;}
#main.rtl {text-align:right;}
#play.right {text-align:right;}/*width:728px;*/
#play.right .player {font-size:2.3em;}
#play.right #playlist {font-size:14px; position:absolute; left:10px; margin-left:auto; margin-right:auto; text-align:left;}

/*MAP--------------------------------------------------------------*/
.jm{width:617px; height:270px; overflow:hidden; float:left;}/*920*/
.jmif{width:617px; height:270px; margin-top:3px;}/*920*/
#jmad{width:300px; margin-top:3px;}
.jmindex{width:750px; height:600px; overflow:hidden;}
.jmifindex{width:750px; height:600px; padding-top:0px; padding-bottom:0px;}
.jmstart{width:920px; height:270px; overflow:hidden;}
.jmifstart{width:920px; height:270px; margin-top:3px;}
.jmifru,.jmifbalkan{width:617px; height:270px; margin-top:3px;}
#mapright{vertical-align:top; text-align:right; width:170px; height:615px; border:0px none; padding:0px; margin:0px; vertical-align:top;}

/*LINKS--------------------------------------------------------------*/
img, a img{border:0px none;}
a, a:link, a:visited{color:#3d59a0;text-decoration:none;}
a:active, a:link:hover, a:visited:hover{color:#f20e64;}
.rt1 a, .rt1 a:link, .rt1 a:visited {color:#788ab8;}
.rt1 a:active, .rt1 a:link:hover, .rt1 a:visited:hover{color:#f20e64;}
a.goog-logo-link, a.goog-logo-link:visited, a.goog-logo-link:hover {color:#f3f3f3;}

/*TEXT SIZES--------------------------------------------------------------*/
ul.linklist li, .lang, .nav, #downthere, .fpre,.dxfpre, .tr30, .tr31, .tr32, .tr33, .tt30, .tt31, .tt32, .tt33, .fmam, .fmtv, .exp,.tr31tso, .tr32tso, .translate{font-size:12px;}
.exp,.fpre,.dxfpre,.tr32tso,.tr33,.tt33{font-style:italic;}
h1.title{font-size:1.5em; font-weight:400; line-height:normal;}
h1.title1{font-size:2.4em; font-weight:700; line-height:1em; color:#395499; margin-left:-1px;}
h1.title2{font-size:1.8em; font-weight:400; line-height:1em; color:#395499;}
h1.title1-east{font-size:3.8em; font-weight:700; line-height:1.2em; color:#395499; margin-left:-1px;}
h1.title1-mideast{font-size:4.2em; font-weight:700; line-height:1.2em; color:#395499; margin-left:-1px;}
/*3D title: color:#314675; margin-left:-1px; text-shadow:5px 5px 0px #fefefe*/

/*FREQ LIST--------------------------------------------------------------*/
.station{width:32px; height:32px; vertical-align:middle;}
.stationtv{width:32px; height:32px; vertical-align:middle;}
.tr6{background:#d8defb; padding:5px;}
.tr7{background:#d1bcec; padding:5px;}
.tr0{color:#495894; background:#afbefb url('common/one_tr.jpg') no-repeat;}
.tt0{color:#7151a5; background:#c8b4e8 url('common/one_tt.jpg') no-repeat;}
.tr0,.tt0{text-align:center; padding:5px 5px 10px 5px;}
.tr0 h1,.tt0 h1{font-weight:400; margin-bottom:5px;}

tr{padding:0px; border:0px none;}
.rt0{background:#f7f7f7 url('common/rt0.png') repeat-x; border-top:1px solid #DDD; border-bottom:1px solid #DDD;}
.rt1{background:#f3f3f3 url('common/rt1.png') repeat-x; border-top:1px solid #DDD; border-bottom:1px solid #DDD;}
.rt2{background:#efefef url('common/rt2.png') repeat-x; border-top:1px solid #DDD; border-bottom:1px solid #DDD;}
.rt0:hover,.rt1:hover,.rt2:hover{background:#fdfdfd url('common/rt.png') repeat-x; border-bottom:1px solid #999;}
td{border:0px none; padding:0px; vertical-align:top;}
.fsta,.fsta1,.fsta2{font-size:16px;}
.fsta::first-line{font-weight:bold;}
.fsta1,.dxfsta1{font-style:italic;}
.fcit,.freq,.dxfreq{font-size:14px;}
.dxfsta,.dxfsta1,.dxfsta2,.dxfcit{font-size:14px;}
.list,.fmam,.fmtv,.freq,.fsta,.fsta1,.fsta2,.fpre,.fcit,.dxfreq,.dxfsta,.dxfsta1,.dxfsta2,.dxfpre,.dxfcit{padding:3px; vertical-align:middle;}

.tr30,.tr31,.tr32,.tr33,.tt30,.tt31,.tt32,.tt33,.fmam,.fmtv,.tr31tso,.tr32tso{color:#898bb9; padding:3px 0px 3px 3px; vertical-align:middle;}
.tr30,.tr31,.tr32,.tr33,.fmam{background:#e7eaf9;}/* url('common/one_tr3.jpg')*/
.tt30,.tt31,.tt32,.tt33,.fmtv{background:#e2d6f3;}/*url('common/one_tt3.jpg')*/
.tr31,.tt31{width:9%;}
.tr32,.tt32{width:53%; padding-left:30px;}
.tr33,.tt33{width:38%;}
.tr30,.tt30{width:62%;}/*tr31+tr32*/
.tr4{background:#e7eaf9; padding:3px;}
.tr5{background:#e7eaf9; height:7px; padding:3px;}
.tr31tso{background:#d9e6f3 url('common/tr3tso.png') repeat-x;}
.tr32tso{background:#d9e6f3 url('common/tr3tso.png') repeat-x;}
.tr9{background:#e7eaf9 url('common/tr9.png') repeat-x;}
.tt9{background:#ece6f5 url('common/tt9.png') repeat-x;}

/*DX--------------------------------------------------------------*/
.dxfreq,.dxfsta,.dxfsta1,.dxfsta2,.dxfpre,.dxfcit{color:#B5B5B5;}
.rt1 .dxfreq img, .rt1 .dxfsta img, .rt1 .dxfsta1 img, .rt1 .dxfsta2 img, .rt1 .dxfpre img{opacity:.65; -moz-opacity:.65; filter:alpha(opacity=65);}
.rt1:hover .dxfreq img, .rt1:hover .dxfsta img, .rt1:hover .dxfsta1 img, .rt1:hover .dxfsta2 img, .rt1:hover .dxfpre img{opacity:1; -moz-opacity:1; filter:alpha(opacity=100);}
.rt1:hover .dxfreq, .rt1:hover .dxfsta, .rt1:hover .dxfsta1, .rt1:hover .dxfsta2, .rt1:hover .dxfpre, .rt1:hover .dxfcit{color:#545454;}
.rt1:hover .dxfsta a:link, .rt1:hover .dxfsta a:visited, .rt1:hover .dxfsta1 a:link, .rt1:hover .dxfsta1 a:visited, .rt1:hover .dxfsta2 a:link, .rt1:hover .dxfsta2 a:visited, .rt1:hover .dxfpre a:link, .rt1:hover .dxfpre a:visited, .rt1:hover .dxfcit a:link, .rt1:hover .dxfcita:visited {color:#3d59a0;}
.rt1 .dxfsta a:link:hover, .rt1 .dxfsta a:visited:hover, .rt1 .dxfsta1 a:link:hover, .rt1 .dxfsta1 a:visited:hover, .rt1 .dxfsta2 a:link:hover, .rt1 .dxfsta2 a:visited:hover, .rt1 .dxfpre a:link:hover, .rt1 .dxfpre a:visited:hover, .rt1 .dxfcit a:link:hover, .rt1 .dxfcit a:visited:hover {color:#f20e64;}

/*BLOCKS--------------------------------------------------------------*/
.ta1,.ta2,.th1,.th2,.ti,.tc,.tw,.time,.tv,.tsi{clear:both; padding:5px 10px 10px 10px; margin-bottom:10px;}
.ta1 h2,.ta2 h2,.th1 h2,.th2 h2,.ti h2,.tc h2,.tw h2,.time h2,.tv h2{text-indent:33px; font-weight:700; font-size:24px; text-align:left;}
.ta1{background:#fff1d5 url('common/one_ta1.png') repeat-x;/*border:1px solid #fcd29d;*/}
.ta2{background:#fff1d5 url('common/one_ta2.png') repeat-x; margin-top:-10px;/*border:1px solid #fcd29d;*/}
.ta1 h2,.ta2 h2{background:url('common/one_tah2.png') no-repeat; color:#d56f28;}
.th1{background:#d6d5ab url('common/one_th1.png') repeat-x;/*border:1px solid #ccc069;*/}
.th2{background:#d6d5ab url('common/one_th2.png') repeat-x; margin-top:-10px;/*border:1px solid #ccc069;*/}
.th1 h2,.th2 h2{background:url('common/one_thh2.png') no-repeat; color:#927726;}
.ti{background:#ffe3e3 url('common/one_ti.png') repeat-x;/*border:1px solid #f35da0;*/}
.ti h2{background:url('common/one_tih1.png') no-repeat; color:#d0206f;}
.tc{background:#d2e8e2 url('common/one_tc.png') repeat-x;/*border:1px solid #7ec6bb;*/}
.tc h2{background:url('common/one_tch2.png') no-repeat; color:#319791;}
.tw{background:#ededed url('common/one_tw.png') repeat-x; text-align:center; outline: 1px solid #d1d1d1;}
.tw h2{background:url('common/one_twh2.png') no-repeat; background-position:left; color:#ededed;}
.time{background:#ededed url('common/one_time.png') repeat-x; text-align:center; outline: 1px solid #d1d1d1;}
.time h2{background:url('common/one_timeh2.png') no-repeat; background-position:left; color:#ededed;}
.tv{background:#ededed url('common/one_tv.png') repeat-x; text-align:left; outline: 1px solid #d1d1d1;}
.tv h2{background:url('common/one_tvh2.png') no-repeat; background-position:left; color:#ededed;}
.tsi{background:#fafafa url('common/one_tsi.png') repeat-x;}
.tsy{background:#f1f1f1 url('common/one_tsy.png') repeat-x; clear:both; text-align:left; padding:5px 5px 0px 5px;}

/* ---stationinfo---- */
.tso0,.tsr0,.tst0{padding:10px 5px 10px 45px; vertical-align:middle; font-size:2em; font-weight:400;}
.tsi0{background:#f7f7f7 url('common/tsi0.png') no-repeat;}
.tsi1{background:#f7f7f7; padding:0px 10px 10px 10px;}
.tsi9{background:url('common/tsi9.png') no-repeat;}
/* ---stationonline-lightblue---- */
.tso0{background:#b5cbef url('common/tso0.png') no-repeat; color:#5a7baa;}
.tso9{background:url('common/tso9.png') no-repeat;}
/* ---stationradio-blue---- */
.tsr0{background:#adc3e6 url('common/tsr0.png') no-repeat; color:#57649d;}/*light:#e5e9fb*/
.tsr9{background:url('common/tsr9.png') no-repeat;}
/* ---stationtv-violet---- */
.tst0{background:#d8c7f0 url('common/tst0.png') no-repeat; color:#7e699c;}/*light:#efe8fa*/
.tst9{background:url('common/tst9.png') no-repeat;}

/*PLAYER--------------------------------------------------------------*/
#live {margin-left:auto; margin-right:auto; text-align:center; background:#dedede url('common/bgp.png') top center repeat-x; padding:5px; line-height:1em;}
#play {text-align:left; width:100%;}
#play.right {text-align:right; width:100%;}
#play #playlist {font-size:14px; position:absolute; right:5px; margin-left:0px; margin-right:auto; width:100%; text-align:right;}
#play.right #playlist {font-size:14px; position:absolute; left:5px; margin-left:0px; margin-right:auto; width:100%; text-align:left;}
#play .player{display:inline-flex; position:relative; top:20px; vertical-align:middle; line-height:1em; margin-bottom:10px; font-size:22px; font-weight:800; color:#565656;}
/*#play .player {position:relative; top:16px; font-size:28px; font-weight:800; color:#565656;}
.player{display:inline-flex; vertical-align:top; line-height:1em; margin-bottom:10px;}*/
#play .player img {position:relative; top:-10px; vertical-align:middle; margin:2px;}
#live hr {margin-left:auto; margin-right:auto; line-height:1px; margin-bottom:2px; border-color:#e0e0de;}
.rds{font-size:14px; padding:0px 0px 3px 0px; margin:0px;}
.rds .station {width:24px; height:24px;}
marquee {vertical-align:middle; padding:0px; margin:0px; width:560px;}
.livead {text-align:center; margin-left:auto; margin-right:auto; position:relative; top:10px;}

/*TOOLTIPS*/
.qtip-vio, .qtip-cream {font-size:16px;}

/*FORM--------------------------------------------------------------*/
.pdv{width:270px; height:26px; vertical-align:middle; font-size:18px; font-family:Helvetica, Arial, sans-serif; color:#545454;}

.twtr-tweet-text {font-family:Helvetica, Arial, sans-serif;}