a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:6pt; font-family:Arial, Helvetica, sans-serif; color:#B300FF; font-weight:bold; text-shadow: 4px 4px 4px #000080;  }
#container_797a0fc1 { box-sizing: border-box; vertical-align: top; border-radius: 9px; position:relative; display: inline-block; width:88%; min-height:105px; background-color:#FCFC5B; background: linear-gradient(to bottom, #FCFAA7, #FCFC5B); border: 1px solid #0000A0;  }
#container_797a0fc1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#B300FF; font-weight:bold;  }
.textstyle4 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle5 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:13pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold; text-shadow: 4px 4px 4px #000080;  }
.textstyle7 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#8000FF; font-weight:bold;  }
.textstyle8 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#8000FF; font-weight:bold;  }
.textstyle9 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#8000FF; font-weight:bold;  }
#img_59a0caff { vertical-align: bottom; position:relative; display: inline-block; width:46%; background:none;  }
#img_27ce7d7c { vertical-align: bottom; position:relative; display: inline-block; width:91%; background:none;  }
